.banner-table {
    border-collapse: collapse;
    border: none;
  }

  .banner-table td {
    border: none;
    padding: 10px;

  }

  .banner-table .left-align {
    text-align: left;
  }

  .banner-table .right-align {
    text-align: right;
  }


.reset-btn {
    margin-left: 10px;
    cursor: pointer;
  }

  
  .lightbar:invalid {
    background-color: pink !important; 
  }

  
  .lightbar {
    background-color: #d2f5d2; 
  }

  
  .lightbar.non-default:valid {
    background-color: #c2e2f2; 
  }

  .iamfine {
    position: fixed;
    right: 2%;
    bottom: 25%;
    z-index: 2; 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1vw;
}


body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: -1;
    transition: background-color 1s ease; 
}

body.snow-mode::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none; 
    z-index: -1;    
}

body {
    background-image: url('Palworld_KeyVisual_1080p_Loco_C.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: Calibri, Arial, sans-serif; 
    position: relative;
    transition: background-color 1s ease; 
}

.small-gif {
    width: 2%; 
    display: block;
    margin: auto;
}


.button {
    position: fixed;
    right: 2%;
    bottom: 5%;
    z-index: 2; 
    /* transform: scale(1.5);  */
    font-size: 1.5vw;
}
.button3 {
    position: fixed;
    right: 2%;
    bottom: 12%;
    z-index: 2; 
    /* transform: scale(1.5);  */
    font-size: 1.5vw;
}

.button2 {
    position: fixed;
    left: 2%;
    bottom: 5%;
    z-index: 2; 
    /* transform: scale(1.5);  */
    font-size: 1.5vw;
}
.button4 {
    position: fixed;
    left: 2%;
    bottom: 12%;
    z-index: 2; 
    /* transform: scale(1.5);  */
    font-size: 1.5vw;
}

.button5 {
    position: fixed;
    right: 2%;
    bottom: 22%;
    z-index: 2; 
    /* transform: scale(1.5);  */
    font-size: 1.5vw;
}

.button6 {
    position: fixed;
    right: 2%;
    bottom: 27%;
    z-index: 2; 
    /* transform: scale(1.5);  */
    font-size: 1.5vw;
}

.contentner {
    position: relative;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(18px);
    margin-top: 85vh;
    font-style: Normal;
    font-size: 1vw;
    margin-bottom: 5vh;
    margin-left: 3vh;
    margin-right: 3vh;
    font-family: Calibri, "Microsoft JhengHei", Arial, sans-serif; 
    transition: background-color 1s ease;
}

.center-container a {
    color: snow; 
    text-decoration: none; 
    transition: color 1s ease; 
}

.buttom-container a {
    color: snow; 
    text-decoration: none; 
    transition: color 1s ease; 
}

.contentner.snow-mode {
    background: rgba(255, 255, 255, 0.7);
    color: #000;
}

h1, h2 {
    color: snow;
    font-family: Calibri, Arial, sans-serif; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
    text-align:center;
}

h3 {
    color: snow;
    font-family: Calibri, Arial, sans-serif; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
    text-align:right;
}

.snow-mode h1, .snow-mode h2 {
    color: #000; 
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8); 
    text-align: center; 
}

.snow-mode h3 {
    color: #000; 
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8); 
    text-align: right; 
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    font-family: Calibri, Arial, sans-serif; 
}


td:first-child, th:first-child {
    text-align: right;
}


td:nth-child(2), th:nth-child(2) {
    text-align: right;
}


td:nth-child(3), th:nth-child(3) {
    text-align: left;
}


.scroll-message {
    font-size: 24px; 
    color: white; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    text-align: center; 
    padding: 20px; 
    font-family: Calibri, Arial, sans-serif; 
}

footer {
    text-align: center; 
    background-color: #333; 
    color: white; 
    padding: 10px; 
    font-family: Calibri, Arial, sans-serif;
    font-size: 1vw;
}

footer p {
    margin: 0; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
    font-family: Calibri, Arial, sans-serif;
    font-size: 1vw;
}
#google_translate_element {
    position:sticky;
    z-index: 2;
}

#notification {
    position: fixed;
    top: 10%;
    right: 0%;
    transform: translate(0%, 0%);
    padding: 20px;
    background-color: rgba(95, 203, 73, 0.7);
    color: #fff;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 9;
    font-size: 1vw;
  }
  #notification2 {
    position: fixed;
    top: 10%;
    right: 0%;
    transform: translate(0%, 0%);
    padding: 20px;
    background-color: rgba(95, 203, 73, 0.7);
    color: #fff;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 9;
    font-size: 1vw;
  }

/* 自訂顏色 */
:root {
    --radio-checked-color: #3498db; /* 已選中狀態的顏色 */
    --radio-unchecked-color: #7f8c8d; /* 未選中狀態的顏色 */
}

/* 隱藏原始的Radiobutton樣式 */
input[type="radio"] {
    display: none;
}

/* 自定義Radiobutton樣式 */
input[type="radio"] + label {
    position: relative;
    padding-left: 30px; /* 調整與文字的距離 */
    cursor: pointer;
    display: inline-block;
    line-height: 1.5;
    font-size: 1vw; /* 控制字型大小 */
}

input[type="radio"] + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    border: 2px solid var(--radio-unchecked-color);
    background-color: #fff; /* 背景色，可設定與頁面背景相同，形成空心效果 */
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* 已選中狀態的樣式 */
input[type="radio"]:checked + label:before {
    border-color: var(--radio-checked-color);
    background-color: var(--radio-checked-color);
}

/* 方形的樣式 */
input[type="radio"] + label:before {
    border-radius: 4px; /* 調整方形的圓角半徑，根據需要調整 */
}